.icon32 {
  display: inline-block;
  float: left;
  height: 34px;
  margin: 7px 8px 0 0;
  width: 35px; }

.ninja-forms *,
.ninja-forms *:after,
.ninja-forms *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.ninja-forms #wpbody {
  margin: 0 20px 0 2px; }

.ninja-forms-edit .major-publishing-actions .publishing-action {
  float: none;
  text-align: left; }
.ninja-forms-edit .ninja-forms-field-button {
  margin-bottom: 3px;
  width: 49%;
  text-align: center; }

[class*='ninja-col-'] {
  float: left;
  padding: 0 5px;
  position: relative; }

.nf-left-handlebar,
.nf-right-handlebar {
  background: #ccc;
  cursor: e-resize;
  width: 6px; }

.ninja-col-1-1 {
  width: 100%; }

.ninja-col-1-2 {
  width: 50%; }

.ninja-col-1-3 {
  width: 33.33%; }

.ninja-col-2-3 {
  width: 66.66%; }

.ninja-col-1-4 {
  width: 25%; }

.ninja-col-2-4 {
  width: 50%; }

.ninja-col-3-4 {
  width: 75%; }

.ninja-row {
  width: auto;
  margin: 0 auto;
  padding: 0; }

.ninja-row li {
  margin-bottom: 0; }

.ninja-row:after {
  content: "";
  display: table;
  clear: both; }

.ninja-forms-admin-field {
  background: #f1f1f1;
  cursor: move;
  /*border: 1px solid #ccc;
  /*margin-bottom: 10px;*/
  padding: 5px 20px; }
  .ninja-forms-admin-field:hover {
    background: #ddd; }
  .ninja-forms-admin-field:after {
    clear: both;
    content: "";
    display: table; }
  .ninja-forms-admin-field input:disabled {
    background: #fff; }

.ninja-forms-admin-group {
  border: 2px dashed #D65027;
  cursor: move;
  margin-bottom: 10px;
  padding: 5px 10px; }

.ninja-forms-admin-group > label {
  padding-left: 25px;
  position: relative; }

.ninja-forms-admin-group > label:after {
  left: 0;
  top: -2px;
  content: '\f140';
  border: none;
  background: none;
  font: normal 20px/1 'dashicons';
  speak: none;
  display: block;
  padding: 0;
  text-indent: 0;
  text-align: center;
  position: absolute;
  -webkit-font-smoothing: antialiased;
  text-decoration: none !important; }

.ninja-forms-admin-field label,
.ninja-forms-admin-field input {
  cursor: move;
  font-weight: bold; }

.label-above label {
  display: block; }

.label-above input[type=text] {
  width: 100%; }

.nf-footer-left {
  float: left; }

.nf-footer-right {
  color: #777;
  float: right; }

[class*='ninja-placeholder-'] {
  background: #f1f1f1;
  height: 80px;
  float: left;
  padding: 0 5px;
  position: relative; }

.ninja-placeholder-1-1 {
  width: 100%; }

.ninja-placeholder-1-2 {
  width: 50%; }

.ninja-placeholder-1-3 {
  width: 33.33%; }

.ninja-placeholder-2-3 {
  width: 66.66%; }

.ninja-placeholder-1-4 {
  width: 25%; }

.ninja-placeholder-2-4 {
  width: 50%; }

.ninja-placeholder-3-4 {
  width: 75%; }

.modal {
  background: #fff;
  padding: 30px; }

.ninja-forms .modal {
  margin: 0 !important;
  top: 60px !important;
  bottom: 40px !important;
  left: 200px !important;
  right: 80px !important; }
  .ninja-forms .modal .inside {
    padding: 30px 50px; }
  .ninja-forms .modal .close-modal {
    display: none; }
  .ninja-forms .modal .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0; }
    .ninja-forms .modal .videoWrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  @media (min-width: 1700px) {
    .ninja-forms .modal {
      left: 22% !important;
      right: 15% !important; } }
  @media (max-width: 900px) {
    .ninja-forms .modal {
      left: 100px !important; } }
  @media (max-width: 782px) {
    .ninja-forms .modal {
      top: 46px !important;
      bottom: 0 !important;
      left: 0 !important;
      right: 0 !important; } }

.ninja-forms-edit .media-frame-menu {
  overflow: auto; }
.ninja-forms-edit .nf-settings {
  height: 100%;
  padding-left: 200px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
.ninja-forms-edit .nf-settings-title {
  padding: 10px 20px 0; }
  .ninja-forms-edit .nf-settings-title h1 {
    display: inline;
    float: left; }
.ninja-forms-edit .nf-settings-content-wrap {
  overflow: hidden;
  padding-left: 200px;
  position: absolute;
  top: 60px;
  left: 0;
  bottom: 0;
  right: 0; }
.ninja-forms-edit .nf-settings-content {
  padding: 0 20px 20px 220px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: scroll; }
.nf-settings {
  margin-left: 230px; }
.nf-settings-modal .nf-settings-title {
  margin-left: 230px;
}
.ninja-forms-edit .updated {
  background: #eee;
  float: left;
  margin-top: 8px;
  padding: 8px 12px;
  width: 200px; }
.ninja-forms-edit .howto {
  font-weight: normal;
  padding: 10px; }
.ninja-forms-edit .nf-table > tr th, .ninja-forms-edit .nf-table > tr td {
  padding: 15px 10px; }
.ninja-forms-edit .mceToolbar .mceButton {
  width: auto !important;
  height: auto !important; }

.nf-rte label {
  display: block;
  margin-bottom: 20px; }

#new-form-creation {
  position: absolute;
  top: 48px;
  bottom: 50px;
  left: 0;
  right: 0;
  overflow: hidden; }
  #new-form-creation .ninja-row {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto; }

.nf-wz-options .wizard-section-actions {
  text-align: center; }

.nf-wz-instructions h3 {
  color: #222;
  font-size: 32px;
  font-weight: 100;
  margin: 10px 0 0;
  line-height: 1.3; }
.nf-wz-instructions p {
  color: #555;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  margin: 30px 0 0; }

.wizard-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  border-bottom: 1px solid #ddd; }
  .wizard-header .left, .wizard-header .right, .wizard-header .close {
    color: #777; }
    .wizard-header .left:hover, .wizard-header .right:hover, .wizard-header .close:hover {
      background: #e14d43;
      color: #fff; }
  .wizard-header .left, .wizard-header .right {
    cursor: pointer;
    height: 48px;
    width: 54px;
    float: left;
    text-align: center;
    border-right: 1px solid #ddd;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .wizard-header .left:before, .wizard-header .right:before {
      font: 400 20px/50px dashicons !important;
      display: inline;
      font-weight: 300; }
    .wizard-header .left.disabled, .wizard-header .right.disabled {
      color: #ccc;
      background: inherit;
      cursor: inherit; }
  .wizard-header .left:before {
    content: '\f340'; }
  .wizard-header .right:before {
    content: '\f344'; }
  .wizard-header .close {
    cursor: pointer;
    height: 48px;
    width: 50px;
    text-align: center;
    float: right;
    border-left: 1px solid #ddd; }
    .wizard-header .close:before {
      font: 400 30px/50px dashicons !important;
      display: inline-block;
      content: '\f335';
      font-weight: 300; }

.wizard-actions {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 25px;
  background: #f3f3f3;
  z-index: 30;
  box-sizing: border-box;
  border-top: 1px solid #eee; }


.tooltip {
    background-color:#000;
    border:1px solid #fff;
    padding:10px 15px;
    width:200px;
    display:none;
    color:#fff;
    text-align:left;
    font-size:12px;
 
    /* outline radius for mozilla/firefox only */
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
}

/* Kevin's Test Stuff */

#nf_notification_tbody tr.active {
  background: red;
}

/*

.nf-new-form-content {
	padding: 88px 40px 110px 40px;
}

#new_form .new-form-settings {
	float: left;
	margin: 0 30px 0 0;
	width: 55%;
}

#new_form .theme-info {
	width: 40%;
	float: left;
}

#new_form .modal-actions {
	position: fixed;
	text-align: center;
	bottom: 80px;
	left: 22%;
	right: 15%;
	padding: 20px 25px;
	background: rgba(243, 243, 243 ,0.9);
	border-top: 1px solid rgba(0,0,0,0.1);
	z-index: 30;
}



/*@media  only screen and (max-width: 1400px) {
	#new_form {
		top: 40px !important;
		bottom: 20px !important;
		left: 200px !important;
		right: 20px !important;
	}
}*/
