# OS Stuff
*.DS_Store

# Node Stuff
node_modules

# IDE Stuff

## phpStorm
.idea

## SublimeText
*.sublime-workspace
*.sublime-project

# Project Stuff
deploy.sh
deploy-old.sh
tests/
vendor/
composer.lock

# Minified Assets
assets/css/dashboard.min.css
assets/css/dashboard.min.css.map
assets/js/min/dashboard.min.js
assets/js/min/dashboard.min.js.map
assets/js/lib/backbone.marionette3.min.js
