<script id='nf-tmpl-field-radio' type='text/template'>
    <ul>
        <%= renderOptions() %>
    </ul>
</script>

<script id='nf-tmpl-field-radio-option' type='text/template'>
    <li>
        <label><input type="radio" name="nf-field-<%= id %>" class="<%= classes %>" value="<%= option.value %>" <%= ( value == option.value ) ? 'checked="checked"' : '' %>> <%= option.label %></label>
    </li>
</script>

<script id='nf-tmpl-field-radio-other' type='text/template'>
    <li>
        <label>
            <input type="radio" name="nf-field-<%= id %>" class="<%= classes %>" value="nf-other" <%= ( value == 'nf-other' ) ? 'checked="checked"' : '' %>>
            Other
        </label>
        <%= renderOtherText() %>
    </li>
</script>

<script id='nf-tmpl-field-radio-other-text' type='text/template'>
    <input type="text" name="nf-field-<%= id %>" value="">
</script>