<script id="nf-tmpl-field-radio" type="text/template">
    <ul>
        <%= renderOptions() %>
    </ul>
</script>

<script id='nf-tmpl-field-radio-option' type='text/template'>
    <li>
        <label><input type="radio" name="nf-field-<%= fieldID %>" class="<%= classes %>" value="<%= value %>" <%= ( value == currentValue ) ? 'checked="checked"' : '' %>> <%= label %></label>
    </li>
</script>

<script id='nf-tmpl-field-radio-other' type='text/template'>
    <li>
        <label>
            <input type="radio" name="nf-field-<%= fieldID %>" class="<%= classes %>" value="nf-other" <%= ( currentValue == 'nf-other' ) ? 'checked="checked"' : '' %>>
            Other
        </label>
        <%= renderOtherText() %>
    </li>
</script>

<script id='nf-tmpl-field-radio-other-text' type='text/template'>
    <input type="text" name="nf-field-<%= fieldID %>" value="">
</script>