<script id="nf-tmpl-field-label" type="text/template">
	<%
	/*
	 * Render our description text if the position is set to before label.
	 */
	%>
	<%= ( 'before_label' == desc_pos ) ? renderDescText() : '' %>

	<label for="nf-field-<%= id %>"><%= label %> <%= ( 'undefined' != typeof required && 1 == required ) ? '*' : '' %> <%= maybeRenderHelp() %></label>

	<%
	/*
	 * Render our description text if the position is set to after label.
	 */
	%>
	<%= ( 'after_label' == desc_pos ) ? renderDescText() : '' %>
</script>