<script id="nf-tmpl-field-starrating" type="text/template">
	<span class="starrating">
		<input type="radio" name="nf-field-<%= id %>" class="<%= classes %> nf-element rating" value="1" />
	    <input type="radio" name="nf-field-<%= id %>" class="<%= classes %> nf-element rating" value="2" />
	    <input type="radio" name="nf-field-<%= id %>" class="<%= classes %> nf-element rating" value="3" />
	    <input type="radio" name="nf-field-<%= id %>" class="<%= classes %> nf-element rating" value="4" />
	    <input type="radio" name="nf-field-<%= id %>" class="<%= classes %> nf-element rating" value="5" />
    </span>
</script>