<script id="tmpl-nf-field-textbox" type="text/template">
	<input
			type="text"
			value="{{{ data.value }}}"
			class="{{{ data.renderClasses() }}} nf-element"
			{{{ data.renderPlaceholder() }}}
			{{{ data.maybeDisabled() }}}
			{{{ data.maybeInputLimit() }}}

			id="nf-field-{{{ data.id }}}"
			<# if( ! data.disable_browser_autocomplete && [ 'address', 'city', 'zip' ].includes( data.type ) ){ #>
				name="{{ data.custom_name_attribute || 'nf-field-' + data.id + '-' + data.type }}"
				autocomplete="{{ data.type }}"
			<# } else { #>
				name="{{ data.custom_name_attribute || 'nf-field-' + data.id }}"
				{{{ data.maybeDisableAutocomplete() }}}
			<# } #>

			aria-invalid="false"
			aria-describedby="nf-error-{{{ data.id }}}"
	>
</script>
