@import "display-structure";

@import "op-spacing";
//@import "op-columns";
@import "op-select";
@import "op-checkbox";
@import "op-radio";
@import "op-toggle";
@import "op-icons";

/* ---------------------------------
DEFAULT DARK COLORS
----------------------------------*/
$base: #222;
$accent: #fff;
@import "op-variables-dark";
@import "op-color";

/* ---------------------------------
DARK COLORS - nf-brown
----------------------------------*/
$base: #3e2b13;
$accent: #ea981b;
@import "op-variables-dark";
.nf-brown {
    @import "op-color";
}

/* ---------------------------------
DARK COLORS - nf-red
----------------------------------*/
$base: #350000;
$accent: red;
@import "op-variables-dark";
.nf-red {
    @import "op-color";
}
/* ---------------------------------
DARK COLORS - nf-blue
----------------------------------*/
$base: #001C33;
$accent: #00AEFF;
@import "op-variables-dark";
.nf-blue {
    @import "op-color";
}

@import "st-media-queries";
