
.field-wrap {
    > label {
        font-weight: bold;
    }
}

.nf-element {
    background: #f7f7f7;
    border: 1px solid #eaeaea;
    &:focus {
        background: #fff;
        border-color: #c1c1c1;
        outline: none;
    }
}

.nf-error {
    .nf-element {
        border-color: red;
    }
    .nf-error-msg {
        color: red;
    }
}
