

.nf-fields {
    input:not([type='button']),
    textarea,
    .list-select-wrap .nf-field-element > div {
        background: $field-background;
        border: 1px solid $field-border;
        border-radius: 0;
        box-shadow: none;
        color: $field-font;
        &:focus {
            background: $focus-background;
            border-color: $focus-border;
            //box-shadow: -3px 3px 10px #ccc;
            color: $focus-font;
            outline: none;
        }
    }
    select.ninja-forms-field {
        color: $field-font;
        &:focus {
            background: transparent;
            border: 0;
            box-shadow: none;
            outline: none;
        }
    }
}


.list-select-wrap {
    div {
        &::after {
            color: $field-font;
        }
    }
    select {
        &:active,
        &:focus {
            + div {
                background: $focus-background !important;
                border-color: $focus-border !important;
            }
        }
    }
}


.listradio-wrap {
    .nf-field-element {
        label {
            &::after {
                background: $field-background;
                border: 2px solid $field-border;
            }
            &.nf-checked-label {
                &::after {
                    border-color: $selected-font;
                }
                &::before {
                    background: $selected-font;
                }
            }
        }
    }
}

.checkbox-wrap,
.listcheckbox-wrap {
    .nf-field-label,
    .nf-field-element {
        label {
            &::after {
                background: $field-background;
                border-color: $field-border;
            }
            &.nf-checked-label {
                &::after {
                    border-color: $selected-border;
                }
                &::before {
                    color: $selected-font;
                }
            }
        }
    }
}

.nf-error {
    position: relative;
    .ninja-forms-field {
        border-color: #E80000 !important;
    }
    &.field-wrap {
        .nf-field-element::after {
            background: #E80000;
            color: #fff;
            font-family: FontAwesome;
            font-size: 20px;
            content: "\f12a";
            position: absolute;
            top: 1px;
            right: 1px;
            bottom: 1px;
            height: 48px;
            width: 50px;
            line-height: 50px;
            text-align: center;
        }
    }
    .nf-error-msg {
        color: #E80000;
    }
}
.nf-pass {
    position: relative;
    .ninja-forms-field {
        border-color: green !important;
    }
    &.field-wrap {
        .nf-field-element::after {
            color: green;
            font-family: FontAwesome;
            font-size: 30px;
            content: "\f058";
            position: absolute;
            top: 0;
            right: 16px;
            height: 50px;
            line-height: 50px;
        }
    }
    // &.field-wrap::before {
    //     border-color: green !important;
    // }
}

.nf-field-submit-error {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 15px 15px 50px;
    position: relative;
    z-index: 1;
    &::after {
        content: "\f06a";
        font-family: FontAwesome;
        font-size: 24px;
        position: absolute;
        top: 0;
        left: 15px;
        height: 50px;
        line-height: 50px;
        z-index: 2;
    }
}

.nf-field-submit-error {
    border-color: #D8000C;
    color: #D8000C;
    background-color: #FFBABA;
}
.nf-icons {
    .field-wrap {
        > div::before {
            background: $field-border;
            color: $field-background;
        }
    }
}
.nf-help {
    color: $selected-font;
}
