

.nf-icons {
    .nf-fields {
        .field-wrap::before {
            font-family: FontAwesome;
            font-size: 24px;
            position: absolute;
            left: 1px;
            bottom: 1px;
            height: 48px;
            width: 50px;
            line-height: 50px;
            text-align: center;
            z-index: 1;
        }
        .label-left.field-wrap::before {
            left: 40.5%;
        }
        .label-below.field-wrap::before {
            bottom: auto;
            top: 1px;
        }
        .date-wrap,
        .number-wrap,
        .quantity-wrap,
        .email-wrap,
        .phone-wrap,
        .firstname-wrap,
        .lastname-wrap,
        .address-wrap,
        .city-wrap,
        .state-wrap,
        .zip-wrap,
        .creditcardfullname-wrap,
        .creditcardnumber-wrap,
        .creditcardcvc-wrap,
        .creditcardexpiration-wrap,
        .creditcardzip-wrap {
            input {
                padding-left: 60px;
            }
        }
        .date-wrap::before {
            content: "\f073";
        }
        .number-wrap::before,
        .quantity-wrap::before {
            content: "\f292";
        }
        .email-wrap::before {
            content: "\f0e0";
        }
        .phone-wrap::before {
            content: "\f095";
        }
        .firstname-wrap::before,
        .lastname-wrap::before {
            content: "\f007";
        }
        .address-wrap::before,
        .city-wrap::before,
        .state-wrap::before,
        .zip-wrap::before {
            content: "\f041";
        }
        .creditcardfullname-wrap::before,
        .creditcardnumber-wrap::before,
        .creditcardcvc-wrap::before,
        .creditcardexpiration-wrap::before,
        .creditcardzip-wrap::before {
            content: "\f283";
        }
    }
}
