.field-wrap,
#ninja_forms_required_items {
    margin-bottom: 20px;
    &.hidden-wrap {
        margin: 0;
    }
}

.nf-fields {
    padding: 5px;
    max-width: 1000px;
    margin: 0 auto;
    .ninja-forms-field {
        font-size: 16px;
        line-height: 16px;
        margin: 0;
        padding: 16px;
    }
    input.ninja-forms-field,
    select.ninja-forms-field {
        height: 50px;
    }
    textarea.ninja-forms-field {
        height: 200px;
    }
    hr.ninja-forms-field {
        padding: 0;
    }
    input[type="radio"].ninja-forms-field,
    input[type="checkbox"].ninja-forms-field  {
        height: auto;
    }
    .nf-product-field {
        &.ninja-forms-field {
            background: transparent;
            border: 0;
            padding: 0;
        }
        span {
            padding-right: 16px;
        }
        .nf-field-qty {
            font-size: 16px;
            padding: 5px;
            width: 80px;
        }
    }
    .listselect-wrap,
    .liststate-wrap,
    .listcountry-wrap {
        select {
            //height: 50px;
        }
    }
    .nf-static {
        background: transparent;
        border: 0;
        font-weight: bold;
        padding: 0;
    }
    .label-above,
    .label-below,
    .label-hidden {
        > label {
            margin-bottom: 5px;
        }
    }
    .label-below {
        > label {
            margin-bottom: 0;
            margin-top: 5px;
        }
    }
    .label-right {
        > label {
            margin-bottom: 0;
        }
        > input,
        textarea,
        select,
        .pikaday__container {
            margin-right: 10px;
        }
        > input[type=radio],
        input[type=checkbox] {
            margin-right: 10px;
        }
        ul {
            margin-right: 15px;
        }
    }
    .label-left {
        > label {
            margin-bottom: 0;
            margin-top: 5px;
        }
        > input,
        textarea,
        select,
        .pikaday__container {
            margin-left: 10px;
        }
        > input[type=radio],
        input[type=checkbox] {
            margin-left: 10px;
        }
        // ul {
        //     margin-left: 15px;
        // }
    }
}
