.nf-fields {
    .label-above,
    .label-below,
    .label-hidden {
        > label {
            display: block;
        }
        > input,
        textarea,
        select,
        .pikaday__container,
        .pikaday__display,
        .listselect-wrap > div {
            width: 100%;
        }
        input[type="submit"],
        input[type="button"],
        button {
            width: auto;
        }
        .nf-product-field {
            // .nf-element {
            //     width: 100%;
            // }
        }
    }
    .label-right,
    .label-left {
        label {
            //padding: 16px 0;
        }
        &.checkbox-wrap,
        &.listcheckbox-wrap,
        &.listradio-wrap {
            label {
                padding: 0;
            }
        }
    }
    .label-right {
        //vertical-align: middle;
        > label {
            display: inline-block;
        }
        > input,
        textarea,
        select,
        .pikaday__container {
            width: 50%;
        }
        .pikaday__display {
            width: 100%;
        }
        > input[type=radio],
        input[type=checkbox] {
            width: auto;
        }
        &.textarea-wrap {
            vertical-align: top;
        }
        ul {
            float: left;
            width: 50%;
        }
    }
    .label-left {
        //vertical-align: middle;
        > label {
            display: inline-block;
            float: left;
            line-height: 16px;
            padding-right: 16px;
            text-align: right;
            width: 40%;
        }
        > input,
        textarea,
        select,
        .pikaday__container {
            float: left;
            width: 59%;
        }
        .pikaday__display {
            width: 100%;
        }
        > input[type=radio],
        > input[type=checkbox] {
            float: none;
            width: auto;
            margin-left: 1%;
        }
        &.textarea-wrap {
            vertical-align: top;
        }
        ul {
            float: right;
            width: 59%;
        }
    }
}
