.nf-fields {
    .label-above,
    .label-below,
    .label-hidden {
        > label {
            display: block;
        }
        > input,
        textarea,
        select,
        .pikaday__container,
        .pikaday__display,
        .listselect-wrap > div {
            width: 100%;
        }
        input[type="submit"],
        input[type="button"],
        button {
            width: auto;
        }
        .nf-product-field {
            // .nf-element {
            //     width: 100%;
            // }
        }
    }
    .label-right,
    .label-left {
        label {
            //padding: 16px 0;
        }
        &.checkbox-wrap,
        &.listcheckbox-wrap,
        &.listradio-wrap {
            label {
                padding: 0;
            }
        }
        .ninja-forms-field {
            display: inline-block;
        }
    }
    .label-right {
        //vertical-align: middle;
        > label {
            display: inline-block;
            margin-left: 1%;
            width: 36%;
        }
        > input,
        textarea,
        select,
        .nf-product-field,
        .starrating,
        .nf-static,
        .pikaday__container {
            display: inline-block;
            width: 59%;
        }
        .pikaday__display {
            width: 100%;
        }
        > input[type=radio],
        input[type=checkbox] {
            width: auto;
        }
        // &.checkbox-wrap {
        //     input {
        //         margin-left: 57%;
        //         width: auto;
        //     }
        // }
        &.textarea-wrap {
            vertical-align: top;
        }
        ul {
            //background: red;
            float: left;
            width: 59%;
            + label {
                margin-left: 1.2%;
            }
            input {
                float: right;
                margin-top: 5px;
            }
        }
        .nf-product-field,
        .starrating {
            padding-right: 10px;
            .stars {
                float: right;
            }
        }
    }
    .label-left {
        //vertical-align: middle;
        > label {
            display: inline-block;
            // padding-right: 16px;
            text-align: right;
            width: 39%;
        }
        > input,
        textarea,
        select,
        .starrating,
        .pikaday__container {
            display: inline-block;
            width: 59%;
        }
        .pikaday__display {
            width: 100%;
        }
        > input[type=radio],
        > input[type=checkbox] {
            float: none;
            width: auto;
            margin-left: 1%;
        }
        &.textarea-wrap {
            vertical-align: top;
        }
        ul {
            float: right;
            width: 59%;
        }
        .nf-product-price-label,
        .nf-static,
        .starrating {
            padding-left: 10px;
        }
    }
}
