.ninja-forms-edit {
    .media-frame-menu {
        overflow: auto;
    }
    .nf-settings {
        height: 100%;
        padding-left: 200px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .nf-settings-title {
        padding: 10px 20px 0;
        h1 {
            display: inline;
            float: left;
        }
    }
    .nf-settings-content-wrap {
        overflow: hidden;
        padding-left: 200px;
        position: absolute;
        top: 60px;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .nf-settings-content {
        padding: 0 20px 20px 220px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: scroll;
    }
    .updated {
        background: #eee;
        float: left;
        margin-top: 8px;
        padding: 8px 12px;
        width: 200px;
    }
    .howto {
        font-weight: normal;
        padding: 10px;
    }
    .form-table {
        th, td {
            padding: 15px 10px;
        }
    }
}

.nf-rte {
    label {
        display: block;
        margin-bottom: 20px;
    }
}