/*
Normalize Ninja Forms fields with default structure
---------------------------------------------*/
/*
 * Ninja Forms - Form Display Structure
 */
.ninja-forms-form-wrap *,
.ninja-forms-form-wrap *:after,
.ninja-forms-form-wrap *:before {
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.field-wrap::after,
#ninja_forms_required_items::after {
  clear: both;
  content: "";
  display: block; }

.nf-fields input,
.nf-fields select,
.nf-fields textarea {
  width: auto;
  height: auto;
  vertical-align: inherit; }

/* ---------------------------------
RADIO & CHECKBOX LISTS
----------------------------------*/
.list-radio-wrap ul, .list-radio-wrap li,
.list-checkbox-wrap ul,
.list-checkbox-wrap li {
  list-style: none;
  margin: 0;
  padding: 0; }
  .list-radio-wrap ul input, .list-radio-wrap li input,
  .list-checkbox-wrap ul input,
  .list-checkbox-wrap li input {
    margin-right: 5px; }

.list-radio-wrap li,
.list-checkbox-wrap li {
  padding-left: 10px; }

/*
Make sure all Ninja Forms label positons function properly
---------------------------------------------*/
.nf-fields .label-above > label,
.nf-fields .label-below > label,
.nf-fields .label-hidden > label {
  display: block; }

.nf-fields .label-above > input,
.nf-fields .label-above textarea,
.nf-fields .label-above select,
.nf-fields .label-below > input,
.nf-fields .label-below textarea,
.nf-fields .label-below select,
.nf-fields .label-hidden > input,
.nf-fields .label-hidden textarea,
.nf-fields .label-hidden select {
  width: 100%; }

.nf-fields .label-above input[type="submit"],
.nf-fields .label-above input[type="button"],
.nf-fields .label-above button,
.nf-fields .label-below input[type="submit"],
.nf-fields .label-below input[type="button"],
.nf-fields .label-below button,
.nf-fields .label-hidden input[type="submit"],
.nf-fields .label-hidden input[type="button"],
.nf-fields .label-hidden button {
  width: auto; }

.nf-fields .label-right {
  vertical-align: middle; }
  .nf-fields .label-right > label {
    display: inline-block; }
  .nf-fields .label-right > input,
  .nf-fields .label-right textarea,
  .nf-fields .label-right select {
    width: 50%; }
  .nf-fields .label-right > input[type=radio],
  .nf-fields .label-right input[type=checkbox] {
    width: auto; }
  .nf-fields .label-right.textarea-wrap {
    vertical-align: top; }
  .nf-fields .label-right ul {
    float: left;
    width: 50%; }

.nf-fields .label-left {
  vertical-align: middle; }
  .nf-fields .label-left > label {
    display: inline-block;
    float: left;
    line-height: 16px;
    padding: 16px;
    text-align: right;
    width: 49%; }
  .nf-fields .label-left > input,
  .nf-fields .label-left textarea,
  .nf-fields .label-left select {
    float: right;
    width: 49%; }
  .nf-fields .label-left > input[type=radio],
  .nf-fields .label-left > input[type=checkbox] {
    float: none;
    width: auto;
    margin-left: 10px; }
  .nf-fields .label-left.textarea-wrap {
    vertical-align: top; }
  .nf-fields .label-left ul {
    float: right;
    width: 49%; }

/*# sourceMappingURL=display-structure.css.map */
