.nf-add-new {
    // background: red;
    color: $cta_color;
    padding: 0 0 0 46px;
    text-decoration: none;
    line-height: 32px;
    position: relative;
    height: 32px;
    z-index: 98;
    text-indent: 0px;
    overflow: hidden;
    &:after {
        background: $cta_color;
        border: 2px solid $cta_color;
        border-radius: 40px;
        color: #fff;
        content: "+";
        font-size: 22px;
        padding: 8px;
        position: absolute;
        left: 0;
        width: 12px;
        height: 12px;
        line-height: 10px;
        text-indent: 0px;
        transition: all 0.5s ease 0s
    }
    &:hover, &:active, &.active {
        color: $cta_color;
        transition: width 0.5s ease 0s,height 0.5s ease 0s, text-indent 0.5s ease,top 0.5s ease,left 0.5s ease;
        &:after {
            background: #fff;
            color: $cta_color;
            transform: rotate(180deg);
            transition: all 0.5s ease;
        }
    }
    &.nf-open-drawer {
        position: absolute;
        top: 185px;
        left: 40px;
    }
}
.ninja-forms-app {
    &.folded {
        .nf-add-new {
        }
    }
}

.nf-master-control {
        position: absolute;
        text-indent: -9999px;
        height: 60px;
        width: 60px;
        top: auto;
        left: auto;
        bottom: 20px;
        right: 30px;
        z-index: 98;
        &:after {
            background: $cta_color;
            border: 2px solid $cta_color;
            border-radius: 40px;
            content: "";
            padding: 8px;
            position: absolute;
            left: 10px;
            width: 36px;
            height: 36px;
            transition: all 0.5s ease 0s
        }
        &:before {
            color: #fff;
            content: "+";
            font-size: 40px;
            position: absolute;
            top: 12px;
            left: 25px;
            width: 28px;
            height: 28px;
            line-height: 24px;
            text-indent: 0px;
            z-index: 99;
            transition: all 0.5s ease 0s
        }
    &:hover, &:active, &.active {
        color: $cta_color;
        transition: width 0.5s ease 0s,height 0.5s ease 0s, text-indent 0.5s ease,top 0.5s ease,left 0.5s ease;
        &:after {
            background: #fff;
            color: $cta_color;
            transition: all 0.5s ease;
        }
        &:before {
            color: $cta_color;
            top: 16px;
            left: 21px;
            transform: rotate(180deg);
            transition: all 0.5s ease;
        }
    }
}
