#nf-main-content,
#nf-main-header {
    margin: 0 auto;
    max-width: 700px;
}
#nf-main-header {
    padding: 0 0 20px;
    .nf-button {
        float: right;
    }
    h2 {
        display: inline-block;
    }
    &:after {
        clear: both;
        content: "";
        display: block;
    }
}
.nf-field-wrap {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #888;
    margin-bottom: 20px;
    padding: 15px 20px;
    &.active {
        //background: #fafafa;
        border: 1px solid #84CC1E;
        color: #424242;
        font-weight: bold;
    }
}

