.ui-draggable-handle {
    cursor: pointer;
}
.ui-draggable-dragging {
    z-index: 99;
}
#nf-builder {
    .nf-droppable-active {
        border: 4px solid $cta_color;
        padding: 6px;
        transition: all 1.0s ease;
    }
    .nf-droppable-hover {
        border: 4px solid $accent_color;
        padding: 6px;
        transition: all 1.0s ease;
    }
}
