.nf-drawer-header {
    margin-bottom: 20px;
    padding: 0 10px;
    &::after {
        clear: both;
        content: "";
        display: block;
    }
    h2 {
        color: #666;
        float: left;
        font-size: 20px;
        line-height: 22px;
        .dashicons {
            margin-right: 10px;
        }
    }
}
.nf-settings {

    h3 {
        color: #424242;
        font-size: 14px;
        padding: 10px 10px 0;
        text-transform: uppercase;
        .dashicons {
            color: #bbb;
            font-size: 28px;
            margin: -4px 10px 0 -30px;
        }
    }
}
