#nf-drawer {
    background: #EBEDEE;
    padding: 40px;
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1400px;
    overflow: scroll;
    z-index: 900;
}
.nf-drawer-opened {
    #nf-main {
        width: 50%;
        transition: width 1.0s ease;
        .nf-button {
            display: none;
        }
    }
    #nf-drawer {
        right: 0;
        transition: right 1.0s ease;
    }
    .nf-setting-wrap {
        width: 50%;
        transition: width 1.0s ease;
    }
}
.nf-drawer-closed {
    #nf-main {
        width: 100%;
        transition: width 1.0s ease;
    }
    #nf-drawer {
        right: -1400px;
        transition: right 1.0s ease;
    }
    .nf-setting-wrap {
        width: 33%;
        transition: width 1.0s ease;
    }
}
.nf-drawer-header {
    margin-bottom: 20px;
    padding: 0 10px;
    &::after {
        clear: both;
        content: "";
        display: block;
    }
    h2 {
        color: #666;
        float: left;
        font-size: 20px;
        line-height: 22px;
        .dashicons {
            margin-right: 10px;
        }
    }
    .nf-button {
        float: right;
    }
}
.nf-settings {
    h3 {
        color: #424242;
        font-size: 14px;
        padding: 10px 10px 0;
        text-transform: uppercase;
        .dashicons {
            color: #bbb;
            font-size: 28px;
            margin: -4px 10px 0 -30px;
        }
    }
    &::after {
        clear: both;
        content: "";
        display: block;
    }
}
.nf-full {
    &.toggle-row {
        border-bottom: 1px solid #ccc;
        margin: 0;
        position: relative;
        &:first-child {
            border-top: 1px solid #ccc;
        }
        label {
            display: inline-block;
            padding: 15px 60px 15px 0;
            //margin: 15px -40px 12px 0;
        }
        .nf-toggle {
            float: right;
            margin: 15px 0;
            position: absolute;
            top: 0;
            right: 10px;
        }
    }
}
.nf-one-half,
.nf-one-third {
    float: left;
}
.nf-one-half {
    width: 50%;
}
.nf-one-third {
    width: 33.33%;
}
.nf-first {
    clear: both;
    margin-left: 0;
}
.nf-full,
.nf-one-half,
.nf-one-third {
    margin-bottom: 15px;
    padding: 0 2%;
}
.nf-full::after,
.nf-one-half::after,
.nf-one-third::after {
    clear: both;
    content: "";
    display: block;
}
