#nf-drawer {
    background: #EBEDEE;
    padding: 40px 40px;
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1400px;
    overflow: auto;
    z-index: 99;
    transition: width 0.75s ease;
    -webkit-overflow-scrolling: touch;
    &.nf-drawer-expand {
        width: 100%;
    }
}
.nf-drawer-opened {
    #nf-main {
        width: 50%;
        transition: all 0.50s ease;
        .nf-button {
            display: none;
        }
    }
    #nf-drawer {
        right: 0;
        transition: all 0.50s ease;
        &.nf-drawer-expand {
            width: 100%;
            transition: all 0.50s ease;
            .nf-toggle-drawer {
                .dashicons {
                    transform: rotate(180deg);
                    transition: all 0.50s ease;
                }
                .nf-expand-off {
                    display: none;
                }
                .nf-expand-on {
                    display: inline;
                }
            }
        }
    }
    .preview {
        opacity: 0.0;
        visibility:hidden;
        filter: alpha(opacity=0);
        transition: all 0.50s ease;
        &:hover, &:active, &.active {
            opacity: 0.0;
            visibility:hidden;
            filter: alpha(opacity=0);
            transition: all 0.50s ease;
        }
    }
    #nf-app-sub-header, #nf-header {
        h2 {
            padding-left: 50px;
            transition: all 0.50s ease 0s
        }
    }
    #nf-main-content,
    #nf-main-header {
        margin: 0 auto;
        //padding-left: 60px;
        transition: all 0.50s ease;
    }
    @media only screen and (min-width: 901px) {
        #nf-app-sub-header {
            .nf-add-new {
                top: 95px !important;
                text-indent: -99999px;
                &:after {
                }
            }
        }
    }
    .nf-setting-wrap {
        width: 50%;
        transition: width 0.50s ease;
    }
    .nf-toggle-drawer {
        display: block;
    }
}
.nf-drawer-closed {
    #nf-main {
        width: 100%;
        left: 0;
        transition: width 0.50s ease, left 0.50s ease;
    }
    #nf-drawer {
        right: -1400px;
        transition: right 0.50s ease;
    }
    .nf-add-new {
        opacity: 1.0;
        visibility: visible;
        filter: alpha(opacity=100);
        transition: all 0.50s ease;
    }
    .nf-setting-wrap {
        width: 33%;
        transition: width 0.50s ease;
    }
    .nf-toggle-drawer {
        display: none;
    }
}
.nf-drawer-header {
    margin-bottom: 20px;
    padding: 0 10px;
    &::after {
        clear: both;
        content: "";
        display: block;
    }
    h2 {
        color: #666;
        float: left;
        font-size: 20px;
        line-height: 22px;
        .dashicons {
            margin-right: 10px;
        }
    }
    .nf-button {
        float: right;
    }
}
.nf-settings {
    h3 {
        color: #424242;
        font-size: 14px;
        padding: 10px 10px 0;
        text-transform: uppercase;
        .dashicons {
            color: #bbb;
            font-size: 28px;
            margin: -4px 10px 0 -30px;
        }
    }
    &::after {
        clear: both;
        content: "";
        display: block;
    }
}
.nf-full {
    clear: both;
    &.toggle-row {
        border-bottom: 1px solid #ccc;
        margin: 0;
        position: relative;
        &:first-child {
            border-top: 1px solid #ccc;
        }
        label {
            display: inline-block;
            padding: 15px 60px 15px 0;
            //margin: 15px -40px 12px 0;
        }
        .nf-toggle {
            float: right;
            margin: 15px 0;
            position: absolute;
            top: 0;
            right: 10px;
        }
    }
}
.nf-one-half,
.nf-one-third {
    float: left;
}
.nf-one-half {
    width: 50%;
}
.nf-one-third {
    width: 33.33%;
}
.nf-first {
    clear: both;
    margin-left: 0;
}
.nf-full,
.nf-one-half,
.nf-one-third {
    margin-bottom: 15px;
    padding: 0 2%;
}
.nf-full::after,
.nf-one-half::after,
.nf-one-third::after {
    clear: both;
    content: "";
    display: block;
}
.nf-toggle-drawer {
    color: #aaa;
    cursor: pointer;
    display: none;
    float: right;
    margin-top: 40px;
    text-decoration: none;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    .dashicons {
        margin-right: 5px;
        transition: all 0.50s ease;
    }
    .nf-expand-off {
        display: inline;
    }
    .nf-expand-on {
        display: none;
    }
}


#nf-menu-drawer {
    background: #EBEDEE;
    box-shadow: inset 1px 4px 9px -6px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -250px;
    z-index: 999;
    transition: right 0.50s ease;
    ul {
        margin: 0;
        li {
            a {
                border-bottom: 1px solid #ccc;
                color: #424242;
                display: block;
                padding: 10px 20px;
                text-decoration: none;
                .dashicons {
                    color: $cta_color;
                    margin-right: 15px;
                }
            }
        }
    }
    .nf-publish {
        background: $cta_color;
        color: #fff;
        padding: 20px;
        text-align: center;
        text-transform: uppercase;
        cursor:pointer;

        &.disabled {
            background: #ccc;
            border: 1px solid #ccc;
            cursor: default;
        }
    }

}



.nf-menu-expand {
    #nf-menu-drawer {
        right: 0;
        transition: right 0.50s ease;
    }
    #nf-header {
        margin-right: 250px;
        margin-left: -250px;
        transition: margin 0.50s ease;
    }
    #nf-main {
        left: -250px;
        transition: left 0.50s ease;
    }
}

.nf-div-table {
    .nf-table-row {
        &.nf-error {
            textarea {
                border: 1px solid red;
            }
            span.nf-option-error {
                background: red;
                color: #fff;
                display: block;
                padding: 5px 0;
                width: 100%;
                div.nf-error {
                    display: block;
                    width: 100% !important;
                    text-align: center;
                }
            }
        }
    }
}
.ninja-forms-app {
    .jBox-Notice {
        .jBox-container {
            background: $accent_color;
            font-size: 18px;
        }
    }
}
