.ninja-forms-app {
    .nf-select {
        display: block;
        position: relative;
        select {
            //background: #f9f9f9;
            background: transparent;
            border: 0;
            box-shadow: 0 0 0;
            margin-top: 7px;
            height: 43px !important;
            padding: 0 30px 0 15px;
            position: relative;
            width: 100%;
            text-transform: capitalize;
            appearance: none;
            z-index: 2
        }
        div {
            background: #f9f9f9;
            height: 42px;
            position: absolute;
            bottom: 1px;
            width: 100%;
            z-index: 1;
        }
        div::after {
            color: #666;
            content: "\f347";
            font-family: 'Dashicons';
            font-size: 20px;
            position: absolute;
            width: 30px;
            height: 30px;
            right: 5px;
            bottom: 0;
        }
    }
    div.nf-select {
        div {
            bottom: 7px;
            width: 95%;
        }
        select {
            margin-top: 0;
        }
    }
}
