.ninja-forms-app {
    .nf-select {
        position: relative;
        select {
            background: #f9f9f9;
            border: 0;
            margin-top: 5px;
            height: 43px !important;
            padding: 0 30px 0 15px;
            width: 100%;
            -webkit-appearance: none;
        }
        &::after {
            content: "\f347";
            font-family: 'Dashicons';
            position: absolute;
            width: 30px;
            height: 30px;
            right: 0;
            top: 19px;
            z-index: 101;
        }
    }
}
