.nf-button {
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    padding: 10px 30px;
    text-transform: uppercase;
    &.primary {
        background: #1EA9EA;
        color: #fff;
    }
    &.secondary {
        background: #fff;
        border: 1px solid #1EA9EA;
        color: #1EA9EA;
    }
}
.nf-cancel {
    color: #999;
    font-size: 15px;
}
.nf-add-new {
    color: #84CC1E;
    display: inline-block;
    padding: 0 0 0 46px;
    text-decoration: none;
    position: relative;
    line-height: 30px;
    // top: 180px;
    // left: 40px;
    z-index: 101;
    &:after {
        border: 2px solid #84CC1E;
        border-radius: 40px;
        content: "+";
        font-size: 22px;
        padding: 8px;
        position: absolute;
        left: 0;
        width: 12px;
        height: 12px;
        line-height: 10px;
    }
    &:hover, &:active, &.active {
        color: #84CC1E;
        &:after {
            background: #84CC1E;
            color: #fff;
        }
    }
}
