.nf-item-controls {
    height: 30px;
    width: 30px;
    float: right;
    margin: 0;
    position: absolute;
    top: 9px;
    right: 10px;
    .nf-item-control {
        visibility: hidden;
        margin: 0;
        opacity: 0;
        text-align: center;
        width: 40px;
        height: 30px;
        position: absolute;
        right: 0;
        transition: all 0.5s ease;
        a {
            background: #fff;
            border: 1px solid #fff;
            border-radius: 50px;
            color: $cta_color;
            display: block;
            text-decoration: none;
            padding: 3px;
            position: relative;
            width: 32px;
            &:hover {
                background: #fff;
                border: 1px solid $cta_color;
                color: $cta_color;
            }
        }
        .fa {
            font-size: 18px;
            line-height: 24px;
            text-align: center;
        }
        &.nf-item-edit {
            opacity: 100;
            visibility: visible;
            z-index: auto;
        }
    }
    &:hover {
        a {
            background: $cta_color;
            color: #fff;
        }
        .nf-item-duplicate {
            visibility: visible;
            opacity: 100;
            right: 80px;
            transition: all 0.5s ease;
        }
        .nf-item-delete {
            visibility: visible;
            opacity: 100;
            right: 40px;
            transition: all 0.5s ease;
        }
    }
}
#nf-table-display {
    .nf-item-controls {
        float: right;
    }
}
