.nf-loading-button {
  background: #1EA9EA;
  border-radius: 4px;
  width: 40px;
  margin: 0 auto;
  position: relative;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: -10px;
    left: 0;
    font-size: 0;
    li {
      height: 0;
      position: absolute;
      top: 50%;
      left: 0;
      width: 0;
      margin: 0;
      height: 10px;
      width: 10px;
      border: 3px solid #fff;
      border-radius: 100%;
      transform: transformZ(0);
      animation: LOADINGBUTTON 2s infinite;
      &:nth-child(1n) {
        left: 0;
        animation-delay: 0s;
      }
      &:nth-child(2n) {
        left: 15px;
        animation-delay: 0.2s;
      }
      &:nth-child(3n) {
        left: 30px;
        animation-delay: 0.4s;
      }
    }
  }
}

@keyframes  LOADINGBUTTON {
  0%   {
    transform: scale(0.5);
    background: #fff;
  }
  50%   {
    transform: scale(1);
    background: #fff;
  }
  100% {
    transform: scale(0.5);
    background: #fff;
  }
}


.nf-loading-content {
  //background: #1EA9EA;
  border-radius: 4px;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  position: relative;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: -10px;
    left: 0;
    font-size: 0;
    li {
      height: 0;
      position: absolute;
      top: 50%;
      left: 0;
      width: 0;
      margin: 0;
      height: 50px;
      width: 50px;
      border: 3px solid #fff;
      border-radius: 100%;
      transform: transformZ(0);
      animation: LOADINGCONTENT 2s infinite;
      &:nth-child(1n) {
        left: 0;
        animation-delay: 0s;
      }
      &:nth-child(2n) {
        left: 50px;
        animation-delay: 0.3s;
      }
      &:nth-child(3n) {
        left: 100px;
        animation-delay: 0.6s;
      }
    }
  }
}

@keyframes  LOADINGCONTENT {
  0%   {
    transform: scale(0.5);
    background: #1EA9EA;
  }
  50%   {
    transform: scale(1);
    background: #1EA9EA;
  }
  100% {
    transform: scale(0.5);
    background: #1EA9EA;
  }
}
