#nf-main {
    background: #fff;
    /*border: 3px solid red;*/
    padding: 20px 40px 40px;
    width: 100%;
    position: absolute;
    top: 120px;
    bottom: 0;
    left: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    transition: left 0.5s ease;
}
#nf-main-content,
#nf-main-header {
    margin: 0 auto;
    max-width: 700px;
    transition: all 1.0s ease;
}
#nf-main-header {
    padding: 0 0 20px;
    .nf-button {
        float: right;
    }
    h2 {
        display: inline-block;
    }
    &:after {
        clear: both;
        content: "";
        display: block;
    }
}
