.nf-fields-empty {
    padding: 40px 20%;
    h3 {
        font-size: 30px;
    }
    p {
        font-size: 18px;
    }
}

.nf-field-label {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
    .nf-drawer-opened & {
        width: 66%;
    }
}
