@media only screen and (max-width: 1255px) {
    .nf-cancel {
        display: none;
    }
    #nf-app-sub-header {
        h2 {
            padding-left: 80px;
            transition: all 1.0s ease 0s
        }
    }
    // .nf-add-new.nf-open-drawer {
    //     padding-left: 32px;
    //     text-indent: -500px;
    //     width:60px;
    //     height:60px;
    //     top: 70px;
    //     left: 43px;
    //     transition: width 1.0s ease 0s,height 1.0s ease 0s, text-indent 1.0s ease,top 1.0s ease,left 1.0s ease;
    //     &:after {
    //         //box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    //         font-size: 40px;
    //         padding: 16px;
    //         line-height: 21px;
    //         width:24px;
    //         height:24px;
    //         text-indent: 0px;
    //         transition: all 1.0s ease 0s
    //     }
    //     &:hover {
    //         &:after {
    //             //box-shadow: 0 -3px 3px rgba(0,0,0,0.3);
    //         }
    //     }
    // }

    .folded {
    }

}

@media only screen and (max-width: 1132px) {
    #nf-header {
        .preview {
            content: "Preview";
        }
    }
    #nf-main-content,
    #nf-main-header {
        //margin: 0 10% 0 30%;
    }
    .nf-cancel {
        display: none;
    }
}
@media only screen and (max-width: 1030px) {
    #nf-header {
        ul {
            display: none;
        }
        .nf-button.primary {
            display: none;
        }
    }
    .nf-mobile {
        display: inline-block;
    }
    #nf-app-sub-header {
        h2 {
            padding-left: 0;
            transition: all 1.0s ease 0s
        }
    }
    .nf-add-new.nf-open-drawer {
        position: fixed;
        top: auto;
        left: auto;
        bottom: 20px;
        right: 20px;
        transition: width 1.0s ease 0s,height 1.0s ease 0s, text-indent 1.0s ease,bottom 1.0s ease,right 1.0s ease;
    }
    #nf-main-header {
        .nf-button {
            display: none;
        }
    }
    .nf-item-controls {
        li {
            margin: -4px 15px 0;
            a {
                width: 30px;
                height: 30px;
                &:hover {
                    .nf-tooltip {
                        top: -45px;
                        visibility:visible;
                        opacity: 1.0;
                        filter: alpha(opacity=100);
                        transition: all 1.0s ease;
                        transition-delay: 1.4s;
                    }
                }
                .dashicons {
                    font-size: 26px;
                    padding-top: 1px;
                }
            }
            &.nf-item-duplicate {
                .nf-tooltip {
                    left: -32px;
                    &:after {
                        left: 36px;
                    }
                }
            }
            &.nf-item-edit {
                .nf-tooltip {
                    left: -16px;
                    &:after {
                        left: 20px;
                    }
                }
            }
            &.nf-item-expand {
                display: none;
                .dashicons {
                    transform: rotate(-90deg);
                }
            }
            .nf-item-editing {
                display: none;
            }
        }
        &.nf-editing {
            font-weight: normal;
            a {
                color: #424242;
            }
            .nf-item-delete,
            .nf-item-duplicate {
                display: none;
            }
            .nf-item-editing {
                display: inline;
                line-height: 26px;
            }
        }
    }
    .nf-one-half, .nf-on-third {
        float: none;
        width: 100%;
    }
    .nf-drawer-expand {
        .nf-one-half {
            float: left;
            width: 50%;
        }
        .nf-on-third {
            float: left;
            width: 33%;
        }
    }
}
@media only screen and (max-width: 1023px) {
    .ninja-forms-app {
        &.folded {
            #wpcontent {
                margin-left: 36px;
                padding: 0;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                #wpbody {
                    left: 0;
                }
            }
        }
    }

    .nf-setting-wrap {
        width: 50%;
    }
    #nf-drawer {
        width: 100%;
    }
    .nf-drawer-opened {
        #nf-main {
            width: 100%;
        }
        .nf-setting-wrap {
            width: 50%;
        }
    }
    .nf-drawer-closed {
        .nf-setting-wrap {
            width: 50%;
        }
    }
    .nf-toggle-drawer {
        display: none;
    }

}
@media only screen and (max-width: 960px) {
    .ninja-forms-app {
        &.auto-fold {
            #wpcontent {
                margin-left: 36px;
                padding: 0;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                #wpbody {
                    left: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 782px) {
    .ninja-forms-app {
        &.folded, &.auto-fold {
            #wpcontent {
                margin-left: 0;
            }
        }
    }
    #nf-builder {
        padding: 20px 20px 10px;
    }
    #nf-main {
        padding: 0 0 80px;
    }
    #nf-drawer {
        padding: 20px;
    }
}
@media only screen and (max-width: 660px) {

    #nf-builder {
        //margin-top: 46px;
    }
    .nf-one-half, .nf-one-third {
        width: 100%;
    }
    .nf-field-wrap {
        border: 0;
        border-bottom: 1px solid #ccc;
        border-radius: 0;
        margin: 0;
        padding: 20px;
        &:first-child {
            border-top: 1px solid #ccc;
        }
    }
    .nf-actions-table {
        td:nth-child(3),th:nth-child(3) {
            display: none;
        }
    }
    //     display: block;
    //     table, thead, tbody, th, td, tr {
    //         display: block;
    //     }
    //     thead tr {
    //         position: absolute;
    //         top: -9999px;
    //         left: -9999px;
    //     }
    //     tr { border: 1px solid #ccc; }
    //     td {
    //         /* Behave  like a "row" */
    //         border: none;
    //         border-bottom: 1px solid #eee;
    //         position: relative;
    //         padding-left: 50%;
    //         text-align: right;
    //         width: auto !important;
    //         &::before {
    //             /* Now like a table header */
    //             line-height: 36px;
    //             position: absolute;
    //             /* Top/left values mimic padding */
    //             top: 6px;
    //             left: 6px;
    //             width: 45%;
    //             padding-right: 10px;
    //             text-align: left;
    //             white-space: nowrap;
    //         }
    //         &:last-child {
    //             height: 50px;
    //         }
    //     }
    //     td:nth-of-type(1):before { content: ""; }
    //     td:nth-of-type(2):before { content: "Name"; }
    //     td:nth-of-type(3):before { content: "Type"; }
    //     td:nth-of-type(4):before { content: "Actions"; }
    // }
    #nf-table-display {
        .nf-item-controls {
            width: auto;
        }
    }
    .nf-item-delete,
    .nf-item-duplicate {
        display: none;
    }
    .nf-drawer-buttons {
        display: block;
    }
    .nf-drawer-header {
        background: #fff;
        margin: -20px -20px 20px;
        padding: 0;
        h2 {
            font-size: 16px;
            line-height: 46px;
            margin: 0;
            .dashicons {
                background: #fff;
                font-size: 30px;
                padding-top: 7px;
                width: 45px;
                height: 45px;
            }
        }
        .nf-button {
            border-radius: 0;
        }
    }
    .nf-item {
        padding: 15px;
    }
    .nf-saved .nf-item::after {
        padding: 14px;
    }
}

@media only screen and (max-width: 600px) {
    #nf-builder {
        margin-top: 46px;
    }
}
