.has-merge-tags {
    position: relative;
    input[type=text],
    textarea {
        padding-right: 40px;
    }
    &.rte {
        display: block;
        .wp-editor-tabs {
            margin-right: 40px;
        }
        .merge-tags {
            color: #999;
            z-index: 100;
            top: 26px;
        }
    }
    .merge-tags {
        color: #ccc;
        pointer: cursor;
        position: absolute;
    }
    .nf-list-options {
        input[type=text] {
            + .merge-tags {
                top: 12px;
            }
        }
    }
}
div.has-merge-tags {
    .merge-tags {
        top: 16px;
        right: 12px;
    }
}
label.has-merge-tags {
    .merge-tags {
        top: 33px;
        right: 12px;
    }
}
.nf-list-options {
    label.has-merge-tags {
        .merge-tags {
            top: 12px;
        }
    }
}

.jBox-Tooltip {
    z-index: 100000000 !important;
}

.jBox-TooltipBorder {
    .jBox-container {
        border-radius: 5px;
        border: 2px solid $cta_color;
        /*background: #EBEDEE;*/
        h4 {
            background: #f1f1f1;
            padding: 5px;
            margin: 0 0 5px;
        }
        ul {
            margin: 0;
            li {
                &:nth-child(even) {
                    a {
                        //background: #f1f1f1;
                    }
                }
                a {
                    color: $cta_color;
                    margin: 0;
                    padding: 0 5px;
                    display: block;
                    text-decoration: none;
                }
            }
            a.active {
                background: #f1f1f1;
            }
        }
    }
    .jBox-pointer {
        &::after {
            border: 2px solid $cta_color;
            /*background: #EBEDEE;*/
        }
    }
    .jBox-pointer-top,
    .jBox-pointer-bottom {
        width: 34px;
        height: 12px;
    }
    .jBox-pointer-left,
    .jBox-pointer-right {
        width: 12px;
        height: 34px;
    }
    &.jBox-closeButton-box {
        &::before {
            width: 28px;
            height: 28px;
            background: $cta_color;
        }
    }
}

/* MERGE TAG BOX STYLES */
#merge-tags-box {
    display: none;
    background-color: #DBDDDD;
    max-height: 360px;
    z-index: 1001;
    position: absolute;
    top: -1px;
    left:12px;
    right: 10px;

    .merge-tag-container {
        display: flex;
        justify-content: space-between;
    }

    .merge-tag-sections,
    .merge-tag-list {
        float: left;
        font-size: 14px;
        background-color: #f9f9f9;
        height: 300px;
        overflow-y: auto;
    }

    .merge-tag-sections {
        background-color: #f9f9f9;
        border-right: 2px solid #DBDDDD;
        ul {
            margin: 0;
            li {
                border-bottom: 1px solid #DBDDDD;
                cursor: pointer;
                font-size: 14px;
                margin: 0;
                padding: 8px;
                &:hover {
                    background: #DBDDDD;
                    color: #1EA9EA;
                }
            }
        }
    }

    .merge-tag-list {
        flex-grow: 1;
        padding: 20px;
        div {
            div {
                line-height: 22px;
            }
        }
    }

    .merge-tag-filter {
        border-bottom: 2px solid #DBDDDD;
        margin: 3px 10px 10px 10px;
        clear: both;
    }
}
.nf-setting.merge-tag-focus {
    position: relative;
    z-index: 1000;
}
.nf-setting.merge-tag-focus::after {
    position: fixed;
    z-index: -1;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, .5);
}

#merge-tags-box.one-half--first {
    width: 538px;
    left: 12px;
}
#merge-tags-box.one-half--second {
    width: 538px;
    right: 10px;
    left: auto;
}
