.ninja-forms-app {
    #wpfooter {
        display: none;
    }
    #wpcontent {
        background: #fff;
        margin-left: 140px;
        #wpbody {
            font-size: 16px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 160px;
        }
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing:    border-box;
            box-sizing:         border-box;
        }
    }
    &.folded {
        #wpcontent {
            margin-left: 16px;
            #wpbody {
                left: 36px;
            }
        }
    }
}

#nf-builder {
    background: #fff;
    padding: 10px 40px;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
#nf-main {
    background: #fff;
    /*border: 3px solid red;*/
    padding: 20px 40px 40px;
    width: 100%;
    position: absolute;
    top: 140px;
    bottom: 0;
    left: 0;
    overflow: scroll;
    z-index: 100;
}
#nf-drawer {
    background: #EBEDEE;
    padding: 40px;
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -700px;
    overflow: scroll;
}
.nf-drawer-opened {
    #nf-main {
        width: 50%;
        transition: width 1.0s ease;
    }
    #nf-drawer {
        right: 0;
        transition: right 1.0s ease;
    }
}
.nf-drawer-closed {
    #nf-main {
        width: 100%;
        transition: width 1.0s ease;
    }
    #nf-drawer {
        right: -700px;
        transition: right 1.0s ease;
    }
}
